@font-face {
    font-family: 'SEGA';
    src: url('SEGA-Font/SEGA.TTF') ;
}
h1{
    font-family: 'SEGA';
    color: #0ccac4;
    font-weight: 200;
    letter-spacing: .3rem;
    font-size: 3rem;
    margin-top: 50px;
}
h2{
    font-family: 'MV Boli',serif;
    color: cyan;
    margin-top: 25vh;
}
.scroll{
    background: linear-gradient(to left, rgb(50, 10, 143), rgb(4, 40, 50));
    position: sticky;
    top:0;
    left: 32%;
    z-index: 5;
}